include LICENSE
include README.rst
include pyproject.toml
global-exclude *.py[cod]
global-exclude *.pyc
global-exclude .ropeproject/*
recursive-include docs *
prune tests
prune __pycache__
exclude .editorconfig
exclude tox.ini
